$navHeight: 65px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: text !important;
}

p, a, i{
  font-size: calc( (100vw - 320px)/(2000 - 320) * (32 - 18) + 18px);
}

h1{
  font-size: calc( (100vw - 320px)/(2000 - 320) * (56 - 28) + 28px);
}

.container{
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.page__section{
  padding: 3rem 0;
  &--heading{
    mix-blend-mode: overlay;
    font-weight: bold;
  }
}

.header{
  display: flex;
  height: $navHeight;
  background: unset;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 4;
  color: white;
  transition: .2s;

  &__bars{
    font-size: 24px;
    position: relative;
    z-index: 5;
  }
  &__language{
    margin: 0 10px;
  }
  &__search{
    &--icon{
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active{
        display: none;
      }
    }
    &--block{
      display: flex;
      align-items: center;
    }
    &--field{
      position: absolute;
      z-index: 3;
      top: 65px;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0 15px 15px 15px;
      background: unset;
      animation-name: searchBar;
      animation-duration: .2s;
      animation-timing-function: ease-in;
      animation-fill-mode: backwards;
    }
    &--input{
      width: 100%;
      height: 40px;
      padding: 5px 15px;
      border: none;
      &:focus{
        outline: none;
      }
    }
    &--button{
      min-width: 40px;
      height: 40px;
      border: none;
      &:focus{
        outline: none;
      }
    }
  }
  &__logo--block{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
  }
  &__logo--image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
  }
  &__cart{
    &--image {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
    }
    &--count {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: white;
      color: black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin-bottom: 0;
      border: 1px solid black;
      font-size: 15px;
    }
  }
}

.section__bg{
  position: relative;
  top:0;
  left:0;
  right:0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  &__button{
    position: relative;
    z-index: 0;
    display: flex;
    background: transparent;
    color: white;
    padding: 10px 35px;
    border: 3px solid white;
    outline: none;
    transition: all 300ms ease;
    box-shadow: 0 4px 10px 2px rgba(black, 0.2);
    min-width: 200px;
    mix-blend-mode: overlay;
    font-family: Arial, sans-serif;
  }
  &__button:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background: white;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 300ms ease;
    z-index: -1;
  }
  &__button:hover, &__button:focus{
    color: black;
    outline: none;
  }
  &__button:hover:before, &__button:focus:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: -1;
  }
}

.section__bg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(.5px);
}

.nav{
  display: flex;
  position: absolute;
  z-index: 3;
  top:0;
  bottom:0;
  left: -280px;
  width: 280px;
  height: 100vh;
  background: white;
  transition: ease-in .2s;
  padding-top: 50px;

  &.show{
    position: absolute;
    z-index: 2;
    top:0;
    bottom:0;
    left: 0;
    width: 80%;
    height: 100vh;
  }

  &__list{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-align: left;
    padding-top: 0px;
    width: 90%;
    text-decoration: none;
    list-style: none;
  }

  &__item{
    padding-bottom: 15px;
  }

  &__link{
    color: black;
  }
}

.content{
  background: rgba(0,0,0, .1);
  &__heading{
    text-align: center;
    margin-bottom: 3rem;
  }
  &__card{
    display: flex;
    flex-direction: column;
    &:hover{
      box-shadow: 5px 0 5px 0 rgba(0,0,0, .1);
      transition: .2s;
    }
    &--text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 50%;
      padding: 3rem 0;
      background: white;
    }
    &--heading{
      font-weight: bold;
    }
    &--button{
      border: 2px solid black;
      padding: 5px 25px;
      background: white;
      max-width: 250px;
      text-align: center;
      box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.3);
      transition: .2s;
      color: black;
      font-family: Arial, sans-serif;
    }
    &--button:hover{
      transform: translate(5px, 5px);
      box-shadow: none;
      color: black
    }
    &--image_block{
      display: flex;
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    &--image{
      width: 100%;
      object-fit: cover;
    }
  }
}

.dropdown {
  &__list {
    height: 0 !important;
    padding: 0 20px 0 0;
    max-width: 100%;
    overflow: hidden;
  }
  &__list.drop_open{
    animation-name: open;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  &__list.drop_close {
    animation-name: close;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  &__icon {
    color: black;
    fill: black;
    transition: .3s;
  }
}

.cart {
  &__image {
    object-fit: contain;
    height: 200px;
  }
  &__form {
    background: white;
    position: relative;
    height: 100%;
    padding: 15px 50px;
  }
  &__order {
    position: relative;
  }
  &__bg {
    position: absolute;
    -o-object-fit: contain;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (orientation: landscape){
  .nav{
    &.show{
      width: 40%;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 560px){
  .container{
    min-width: 100vw;
  }
  .content {
    &__card {
      flex-direction: row;
      &--text{
        min-width: 50%
      }
      &--image_block{
        width: 100%
      }
      &--image {
        width: 100%;
      }
    }
    &__card:nth-child(2n){
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .header__search{
    &--field{
      position: static !important;
      padding: unset !important;
      animation-name: searchBraDesktop;
    }
  }
}


.categories{
  display: flex;
  flex-wrap: wrap;
  &__card{
    position: relative;
    z-index: 0;
    height: 300px;
    width: 300px;
    padding: 5px 10px;
    display: flex;
    align-items: flex-end;
    &--image{
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 300px;
      object-fit: cover;
      filter: brightness(0.7);
    }
    &--text {
      color: white;
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }
    &--title {
      font-weight: bold;
      color: white;
      margin-bottom: 0;
      text-decoration: underline;
    }
    &--link {
      margin: 10px;
    }
  }
}

.good {
  &__card {
    &--image {
      user-select: contain;
      object-fit: contain;
      width: 100%
    }
    &--colors {
      display: flex;
    }
    &--color {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: solid 4px black;
      position: relative;
      margin-right: 10px;
    }
    &--color:before{
      content: "";
      display: flex;
      position: absolute;
      top: -4px;
      left: -4px;
      border: solid 3px white;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      z-index: 1;
    }
    &--color.active:before {
      border: solid 3px black;
    }
    &--button {
      background-color: #242424 !important;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 468px) and (max-width: 768px){
  .container{
    min-width: 100%;
  }
}


@media screen and (orientation: landscape) and (min-width: 769px) and (max-width: 1200px){
  .container{
    min-width: 100%;
  }
  .header{
    &__language{
      margin: 0 25px;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 1201px){
  .container{
    min-width: 100%;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@keyframes open {
  0% {
    height: 1px;
  }
  100% {
    height: 50px;
  }
}

@keyframes close {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}
